{% extends 'base.html' %}

{% block title %}Список авторов{% endblock %}

{% block links %}

    <div class="d-flex justify-content-end align-items-center bg-info">
        <div class="mx-2 my-2 h6 font-weight">Добро пожаловать,
            {% if github_url %}
            <a class="text-light bg-warning"  href="{{ github_url }}">{{ user }}</a>!
            {% elif user.is_superuser %}
            <a class="text-light bg-warning" href="/admin/">{{ user }}</a>!
            {% else %}
            <span class="text-light bg-warning">{{ user }}</span>!
            {% endif %}
            <a class="text-secondary" href="{%url 'p_library:user_edit'%}"><img src="/media/icon/settings.ico" alt=""></a>
        </div>
        <a class="btn btn btn-lg btn-primary mx-2 my-2" href="{%url 'p_library:logout'%}">Выход из библиотеки</a>
    </div>
    <div class="text-secondary text-center font-weight-bold my-3">
        <a class="text-black-80 text-decoration-underline" href="{%url 'p_library:book_list'%}">Книги</a> |
        <a class="text-black-80 text-decoration-underline" href="{%url 'p_library:library'%}">Библиотека</a> |
        <a class="text-black-80 text-decoration-underline" href="{%url 'p_library:publisher_list'%}">Издательства</a> |
        <a class="text-black-80 text-decoration-underline" href="{%url 'p_library:friend_list'%}">Друзья</a>
    </div>

{% endblock %}

{% block title_h2 %}Список авторов книг:{% endblock %}

{% block content %}

    <table class="table table-primary table-stripped table-hover">
        {% for author in authors %}
        <tr class="table-bordered">
            <td style="width:20px;">{{ forloop.counter }}</td>
            <td>{{ author.full_name }}</td>
            <td style="width:20px;text-align:right;"><a class="btn btn-primary" href="{%url 'p_library:author_update' author.id %}">Изменить</a></td>
        </tr>
        {% endfor %}
    </table>
    <a class="btn btn-primary btn-lg btn-block my-3" href="{%url 'p_library:author_create'%}">Добавить автора</a>

{% endblock %}